include *.md
include *.yaml
include *.ini

recursive-include _images *.png
recursive-exclude docs *
recursive-exclude docs *.ipynb
exclude docs/source/_images

recursive-include requirements *.txt

recursive-exclude tests *.coveragerc
recursive-include tests *.parquet
recursive-include tests *.pbtxt

recursive-include transformers4rec *.parquet *.json *.py *.typed


# Ignore notebooks & examples
recursive-exclude examples *
exclude examples
exclude tutorial
recursive-exclude tutorial *

# Ignore build related things
recursive-exclude conda *
exclude conda
recursive-exclude .github *
exclude .github
recursive-exclude ci *
exclude ci
exclude .pylintrc
include transformers4rec/_version.py
include versioneer.py
