appdirs==1.4.4
appnope==0.1.0
asn1crypto==1.3.0
astroid==2.4.1
attrs==19.3.0
backcall==0.1.0
black==19.10b0
bleach==3.1.4
certifi==2020.6.20
cffi==1.14.0
cfgv==3.1.0
chardet==3.0.4
click==7.1.2
conda==4.8.3
conda-package-handling==1.6.0
cryptography==2.8
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
diskcache==4.1.0
distlib==0.3.0
entrypoints==0.3
filelock==3.0.12
flake8==3.8.3
future==0.18.2
identify==1.4.20
idna==2.8
importlib-metadata==1.6.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.17.0
Jinja2==2.11.2
joblib==0.15.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mypy==0.780
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.6
nodeenv==1.4.0
notebook==6.0.3
numpy==1.18.1
olefile==0.46
packaging==20.4
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pathspec==0.8.0
petastorm==0.9.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pre-commit==2.5.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
py4j==0.10.9
pyarrow==0.17.1
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.19
pyflakes==2.2.0
Pygments==2.6.1
pylint==2.5.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pyspark==3.0.0
python-dateutil==2.8.1
pytorch-ignite==0.4rc0.post1
pytz==2020.1
PyYAML==5.3.1
pyzmq==18.1.1
qtconsole==4.7.4
QtPy==1.9.0
ranking-metrics-torch==0.2.0
regex==2020.6.8
requests==2.22.0
ruamel-yaml==0.15.87
sacremoses==0.0.43
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
sentencepiece==0.1.91
six==1.14.0
terminado==0.8.3
testpath==0.4.4
tokenizers==0.8.0rc1
toml==0.10.0
torch==1.5.1
torchvision==0.6.0a0+35d732a
tornado==6.0.4
tqdm==4.42.1
traitlets==4.3.3
transformers==2.11.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.8
virtualenv==20.0.25
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==3.1.0
