name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.9]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Ubuntu packages
      run: |
        sudo apt-get update -y
        sudo apt-get install -y protobuf-compiler
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[all]
    - name: Lint with flake8
      run: |
        flake8 .
    - name: Lint with black
      run: |
        black --check .
    - name: Lint with isort
      run: |
        isort -c .
    - name: Checking Manifest
      run: |
        check-manifest .
    - name: Type-checks using mypy
      run: |
        mypy --install-types
        mypy transformers4rec
    - name: Build
      run: |
        python setup.py develop
    - name: Run unittests
      run: |
        python -m pytest -rsx --cov-config tests/.coveragerc --cov-report term-missing --cov=. tests
